@model IEnumerable<SalesWebMvc.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h2>@ViewData["Title"]</h2>

<p><a asp-action="Create">Create new</a></p>

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Department department in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => department.Name)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@department.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@department.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@department.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
